body {
  background-color: #f2f2f2;
  color: #1c1c1c;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:visited {
  text-decoration: underline;
  color: #de0000;
}

a:hover,
a:active {
  color: #a22;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#control {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #e8e8e8;
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  #control {
    width: 85%;
    margin-top: 0.6rem;
    padding: 1.4rem 1rem;
  }
}

@media (min-width: 769px) {
  #control {
    margin-top: 1.2rem;
    padding: 1rem 2rem;
  }
}

.entry {
  box-sizing: border-box;
  width: 100%;
  padding: 0.6rem 0.4rem;
  font-size: 1.6rem;
  color: #555;
}

@media (min-width: 769px) {
  .entry {
    max-width: 490px;
    padding: 0.2rem 0.6rem;
  }
}

.entry-in-progress {
  color: #1c1c1c;
}

#buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 769px) {
  #buttons {
    margin-top: 0.6rem;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
  }
}

.btn {
  border: 0;
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .btn {
    margin-top: 0.6rem;
    padding: 0.6rem 0.6rem;
  }
}

@media (min-width: 769px) {
  .btn {
    margin-left: 0.4rem;
    padding: 0.2rem 0.4rem;
  }
}

.btn-update {
  background-color: #13dfff;
}

.btn-remove {
  background-color: #ff1360;
}

#description {
  margin-top: 0.6rem;
  text-align: center;
  white-space: normal;
  overflow-wrap: anywhere;
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  #description {
    width: 85%;
  }
}

@media (min-width: 769px) {
  #description {
    width: 50%;
    min-width: 340px;
  }
}

#footer {
  margin-top: 1rem;
}
